@import 'styles';

.txt-black{
    color:black;
}
 .txt-white{
         color: white;
    }

.bg-white{
     background:white;
    transition: all .4s ease;
    height:100%;
}
.fm-navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.white{
    background:white;
     border-bottom: 1px solid c;
}
.fm-navbar-body {
   padding: 15px 0;
    display: grid;
    background:$purple;
    border-bottom:2px solid yellow;
//    background:#3333337a;
//    grid-template-columns:auto auto;
        a {
         font-family: $font1;
         text-decoration: none;
         color: #fff;
        font-size:50px;
        transition: all .4s ease;
     }

     .logo {
         color: #fff;
         font-family: $font1;
         padding:0 20px;
     }
   
}
.fm-navbar-nav{
    margin:0 10vh;
    display: grid;
    .nav ,.bt-menu{
        justify-self: end;
    }
    .nav {
        margin-top:10vh;
        display:block;
    }
    a{
        display: block;
        text-align: right;
        margin:4vw 0;
        
        span{
            transition: all .4s ease;
        }
        span:hover{
        background: rgba(40,40,255,.1);
            padding: 10px 25px;
            border-radius:5px;
    }
        
    }
    
}
.bt-menu{
    cursor: pointer;
    position: absolute;
    right:20px;
    top:16px;
    display:none
}
.fm-navbar-social{
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    ul{
        padding:0
    }
    li{
         display: inline-block;
        padding: 0 1vw;
        margin: 0 1vw;
        color:black;
        text-transform: uppercase;
        a{
          font-size:2vw;
        text-align: left;  
        }
        
    }
}

.nav-lg{
    display: grid;
    div{
        position: absolute;
        right:20px;
        top:19px;
    }

    a{
         font-size:18px !important;
        padding:10px 20px;
    
               span{
            transition: all .4s ease;
        }
        span:hover{
        background: rgba(40,40,255,.1);
            padding: 10px 25px;
            border-radius:5px;
            color:white;
    }
}
}
@media screen and (max-width:769px){
    .bt-menu{
    display: block
    }
    .nav-lg{
        display:none;
    }
}
@media screen and (min-width:769px){
    .fm-navbar-nav{
        display:none
    }
    .bg-white{
        background: none;
    }
}