//Variables
$font-size:24px;
$color:rgba(0,0,0,.5);
$font1: 'Raleway', sans-serif;
$font2: 'Quicksand', sans-serif;
//$font1:'Khula', sans-serif;
//$font2:'Khula', sans-serif;
$yellow:#FFCC00;
$purple:#860785;


//Yellow Theme - Home Page
%yellow-theme{
    background:$yellow;
  }
%layout{
  color:black;
  display:grid;
  width:100%;
  min-height:100vh;

}

//App Layout
.app {
  font-size: $font-size;
  color: $color;  
  font-family: $font2;
  font-weight: 300;
  position: absolute;
  top:0;
  bottom: 0;
    left:0;
    right: 0;

}